<!DOCTYPE html>
<html>
<head>
<title>Empower Smartcity | Apurav Chauhan</title>
</head>
<body style="text-align:center">
	<iframe src="${loginUrl}"
	style="width: 440px;
    height: 414px;
    border: 0;
    margin: auto;
    margin-top: 50px;"></iframe>
</body>
<script>
window.onmessage = function(e){
	var user = e.data;
	console.log(user);
   
};
</script>
</html>