<!DOCTYPE html>
<html>
<head>
<title>Empower Smartcity | Apurav Chauhan</title>
</head>
<body>
	Empower Smartcity is a product to help create any city a truly smart city. 
	This app uses the power of Digital Town APIs to empower deaf, dumb and blind people to become independent.
	For normal citizens, it add a layer of security to their daily travel by integrating with the city's crime department.
	The app works with speech recognition and proprietary technology to provide unique features.
	 
</body>
</html>